<h2>{{t 'welcome'}}</h2>

<h3>{{t 'chooseLanguage'}}</h3>

{{locale-chooser onLocaleChange=(action "onLocaleChange")}}

<h3>{{t 'enterParameters'}}</h3>

{{translation-inputs
  name=name
  nameAction=(action "updateName")
  numberValue=numberValue
  numberAction=(action "updateNumber")}}

{{render-text name=name numberValue=numberValue}}

{{outlet}}
